* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 100%;
  background-color: lightgrey;
}
.top {
  width: 1000px;
  background-color: #fff;
  padding: 10px;
  margin: 20px auto;
}
table,
tr,
td {
  border-bottom: 1px solid gray;
  border-spacing: 10px;
  border-collapse: collapse;
  padding: 11px;
}
table tr th:nth-child(1) {
  padding: 13px;
}
table tr td:nth-child(4) {
  color: green;
  margin: 0 45px;
}
a {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.973);
}

i {
  color: gray;
}
table {
  width: 950px;
  margin: 20px auto;
  margin-top: 0px;
  border: 2px solid black;
  border-top: 0;
}

h4 {
  text-align: center;
  background-color: rgb(29, 109, 155);
  padding: 15px;
  border: 2px solid rgb(29, 109, 155);
  border-radius: 1px;
  margin-right: 15px;
  margin-left: 15px;
  color: white;
  font-family: cursive;
}
