*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-width: 100%;
    background-color: lightgrey;
}
.top{
    width: 800px;
    background-color: #fff;
    padding: 10px;
    margin: 20px auto;
}
table, tr, td{
    border-bottom: 2px solid gray;
    border-spacing: 10px;
    border-collapse: collapse;
    padding: 11px;
}
table{
    margin: 20px auto;
    border: 2px solid black;
}

